<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

<main>
    <section class="contact-container">
        <div>
            <div class="center-text">
                <h1>Amazing design, <%= message.senderName %>!</h1>
            <br>
                <h3>Your bouquet has been sent to <%= message.recipientName
                %>.</h3>
            </div>

</main>

<%- include('../partials/footer') -%>