<%- include('../partials/head') -%>
​
<%- include('../partials/nav') -%>
   
​
<!-- main content -->
<main class="flex wrap">
​
    <!-- bouquet -->
    <section class="flex-half">
        <div class="sticky">
            <div>
                <h1 class="center-text"> Handpick a Virtual Flower Bouquet </h1>
            </div>
    
            <div class="">
                <div class="base left-padding">
                    <img class="<%= design.base %> show-div" src="/images/<%= design.base %>.png" alt="<%= design.base %>">
                </div>
    
                <div class="flower left-padding">
                    <img class="<%= design.flower %> show-div" src="/images/<%= design.flower %>.png" alt="<%= design.flower %>">
                </div>
    
                <div class="greenery left-padding">
                    <img class="<%= design.greenery %> show-div" src="/images/<%= design.greenery %>.png" alt="<%= design.greenery %>">
                </div>
    
                <div class="accents left-padding">
                    <img class="<%= design.accents %> show-div" src="/images/<%= design.accents %>.png" alt="<%= design.accents %>">
                </div>
    
            </div>
            
            <div>
                <h3 class="center-text">Your design</h3>
             </div>  
        </div>
    </section>
​
<!--submission form section  -->
    <section class="flex-half">
        <form action="/design/<%= design._id %>?_method=PUT" method="POST">
            <div>
                <div>
                    <h3>Add a note!</h3>
                    <label for="message">*Message:</label>
                        <textarea id="message" name="messageText" placeholder="Write your message here.." required minlength="1"></textarea>
                </div>
​
                <div class="spaced">
                    <h3>From</h3>
                    <label for="sender-name">*Name:</label>
                        <input type="text" id="sender-name" name="senderName" placeholder="Your name.." required minlength="1">
                        <br>
                    <label for="sender-email">*Email:</label>
                        <input type="text" id="sender-email" name="senderEmail" placeholder="Your email.." required minlength="5"> 
                </div>
​
                <div class="spaced">
                    <h3>To</h3>
                    <label for="recipient-name">*Name:</label>
                        <input type="text" id="recipient-name" name="recipientName" placeholder="Their name.." required minlength="1">
                        <br>
                    <label for="recipient-email">*Email:</label>
                        <input type="text" id="recipient-email" name="recipientEmail" placeholder="Their email.." required minlength="5"> 
                </div>
            </div>
        
        <!-- Submit button --> 
        <button class="rounded-btn" type="submit" value="Submit">Send!</button>
    </form> 
    </section>    
</main>
​
<%- include('../partials/footer') -%>